// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
  height: 100%;
  width: 100vw;
  background-color: #333333;
}

.home-title{
  font-size: 30px;
  color: #d6d6d6;
}

.language-tag{
  width: 500px;
  height: 560px;
}

.main-db{
  margin-top: 20px;
  margin-left: 50px;
}

li{
  list-style-type: none;
  
}

.home-link{
  width: 150px;
  height: auto;
}

.home-link-tag{
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 20px;
  display: block;
  color: #d6d6d6;
  font-size: 20px;
  border: 1px solid white;
}

.language-tag{
  height: 100%;
}